-
  let list = ["Uno", "Dos", "Tres",
          "Cuatro", "Cinco", "Seis"]

-
  let titulo = 'vite!'

-
  let parrafo = 'Lorem ipsum dolor sit amet consectetur adipisicing.'

-
  let xd = [
    {href: '#', src: '/vite.svg', alt: 'vite logo'},
    {href: '#', src: '/javascript.svg', alt: 'javascript logo'},
    {href: '#', src: '/pug.svg', alt: 'pug logo'}
  ]
