div#app
  a(href="#" target="_blank")
    img(src="/vite.svg", alt="vite logo").logo
  a(href="#" terget="_blank")
    img(src="/javascript.svg", alt="JavaScript logo").logo.vanilla
  a(href="#" terget="_blank")
    img(src="/pug.svg", alt="Pug logo").logo.pug
  h1 #{ name } in vite!
  .card
    button(type="button")#counter
  p.read-the-docs Lorem ipsum dolor sit amet consectetur adipisicing.
